.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  font-size: 16px;
  color: #000;
  border-radius: 8px;
  border-width: 0.2px;
  min-width: 500px;
  width: auto;
  max-width: 800px;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  outline: none;
}

.inner-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5%;
  height: 30px;
}

@media screen and (max-width: 700px) {
  .text-input {
    min-width: 300px
  }
}

@media screen and (max-width: 400px) {
  .text-input {
    min-width: 150px
  }
}