.menu-item {
    width: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    font-size: 14px;
    color: #000;
    border-bottom: solid 0.3px #000;
    margin-top: 6px;
}

.menu-item:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(44, 44, 239, 0.738) !important;
    border-bottom: 0px;
}